# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/

# Virtual Environments
.venv/
venv/
env/

# IDE
.vscode/
.idea/

# DVC
.dvc/cache/

# MLflow
mlruns/

# Models
models/*.pkl

# Metrics
metrics/*.json

# Reports
reports/*.csv

# OS
.DS_Store
Thumbs.db