# Python
__pycache__/
*.pyc
*.pyo
*.pyd

.venv/
venv/

# DVC
/cache/

# MLflow
mlruns/

# Models
models/*.pkl

# Metrics
metrics/*.json

# Reports
reports/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db